p {
    font-family: 'Open Sans'; 
    font-weight: lighter; 
    color: white; 
    text-align: center;
    font-size: 25;
}

body {
    background-color: rgb(0, 132, 61);
}

h1 {
    font-family: 'Open Sans'; 
    text-align: center; 
    color: white; 
    font-size: 70;
}

.center {
    display: block; 
    margin: auto;
    height: 300;
}