body {
    background-image: url(../imgs/clouds.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.links {
    text-decoration: none;
    color: darkblue;
}

div {
    text-align: center;
}