body {
    background-image: url(../imgs/clouds.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.links {
    text-decoration: none;
    color: darkblue;
}

.container {
    text-align: center;
}

.grid {
    margin: auto;
    display: inline-grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, auto);
    column-gap: 50px;
}

.element {
    text-align: center;
}