body {
    background-image: url(../imgs/mut.png);
    background-color: skyblue;
}

.links {
    text-decoration: none;
    color: blue;
}

.container {
    text-align: center;
}

.grid {
    margin: auto;
    display: inline-grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, auto);
    column-gap: 50px;
}

.element {
    text-align: center;
}